.side-bar-container {
  padding: 44px 32px !important;
}

.side-bar-menus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outlet-main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 140px; */
}
.logout {
  background: #2b1f1f;
  border-radius: 5px;
}
.bible_inside_drawer{
  display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
@media (max-width: 600px) {
  .side-bar-container {
    padding: 2px 10px 2px 20px !important;
  }
  .side-bar-menus {
    justify-content: space-between;
    width: 100%;
  }
  .outlet-main{
    padding: 24px 0 48px 0px!important;
  }
  .bible_inside_drawer img{
    height: 40px;
    width: 40px;
  }
}
@media (min-width: 600px) and (max-width: 1400px) {
  .outlet-main {
    padding-top: 150px;
  }
}
 /* @media (min-width: 1400px) {
  .outlet-main {
    padding-top: 150px;
  }
} */
